<launch>
    <!-- Run Linorobot compatible laser drivers. Takes reference from env var LINOLIDAR. ie. export LINOLIDAR=xv11 -->
    <include file="$(find linorobot)/launch/include/lidar/$(env LINOLIDAR).launch" />

    <!-- Publish static transform of the laser. Define your sensor offset here -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0.105 0 0.145 0 0 0  /base_link /laser"/>

	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter" >
		<rosparam command="load" file="$(find linorobot)/param/lidar_filter/lidar_filter_config.yaml" />
		<remap from="scan" to="raw_scan" />
		<remap from="scan_filtered" to="scan" />
	</node>
</launch>


